button {
    transition: 300ms all !important;
    background-color:rgba(223, 52, 52, 1) !important;

}

button:hover {
    background-color:rgb(255, 0, 0) !important;
}

.hero {
    background: rgb(223,97,97);
background: radial-gradient(circle, rgba(223,97,97,1) 0%, rgba(207,83,70,1) 27%, rgba(214,24,24,0.9836309523809523) 84%, rgba(252,70,70,1) 100%);
}